.fancy-card {
  border-radius: 0px 20px 0px 20px !important;
}
.fancy-card-content {
  min-height: 16rem;
}

.fancy-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

.fancy-card-icon {
  color: lightgray;
}
