.App {
  text-align: center;
  background-color: #fff;
}

.slide {
  background: transparent !important;
  padding: 2rem;
}

.presentation-mode .slide {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

.control-arrow {
  background: #e5e4e4 !important;
}

.reviews .control-arrow {
  background: transparent !important;
}

.reviews .control-arrow.control-prev::before {
  border-right: 8px solid #9b9b9b !important;
}
.reviews .control-arrow.control-next::before {
  border-left: 8px solid #9b9b9b !important;
}
